<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <p class="h4">Binding Theme Selector</p>
                        <div class="form-check form-switch">
                            <input 
                            name="darkTheme"
                            class = "form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                        </div> 
                    </div>
                    <div class="card-body" [class.bg-dark]="darkTheme" [class.text-white]="darkTheme">
                        <img src="../../././../assets/Img2.jpg" width="200" alt="" class="img-fluid">
                        <p class="h3 mt-3">
                            Tokiyo
                        </p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, debitis! Impedit dolorum nesciunt laudantium. Nam deleniti autem quidem deserunt expedita iste mollitia dicta at similique iusto, officia in necessitatibus asperiores.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>