<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h3 text-danger">
                    Shopping Cart
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, voluptatibus obcaecati laborum,
                    corrupti quidem cumque, magni cupiditate quod possimus aperiam dolor aut cum dicta magnam explicabo
                    inventore quisquam laboriosam nobis !
                </p>
            </div>
        </div>
    </div>
</section>
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8" *ngFor = "let product of produts">
                <h1 *ngIf="true">Welcome User</h1>
                <h1 *ngIf="true">Devashish</h1>
            </div>
        </div>
    </div>
</section>
