<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4 class="text-center">Couter</h4>
                    </div>
                    <div class="card-body">
                        <p class="h2">Count : {{count}}</p>
                        <span class="btn btn-success btn-sm" (click)="IncrCounter()">Increment</span>
                        <span class="btn btn-danger btn-sm mx-4" (click)="DecCounter()">Decrement</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>