<h2> {{title}} Devashish Hello World !</h2>
<h2> {{title.toLowerCase()}} devashish hello world !</h2>
<h2> {{title.toUpperCase()}} DEVASHISH HELLO WORLD !</h2>
{{tourName.toLowerCase()}} 
{{tourName.length}} 
 <span class="text-danger" style="background-color: blue ; font-size: 40px; ">
    {{tourName}}
 </span>
 <span> 
    Current Date : {{getDate()}}
    <!-- Current Time : {{getTime()}} -->

    </span>
    <h3>{{time}}</h3>
    <img src ="../.././../assets/Img1.jpg" style="width: 15%">
    <img [src] ="tourImages" style="width: 15%">