<!-- <h2> {{title}} Devashish Hello World !</h2>
<h2> {{title.toLowerCase()}} devashish hello world !</h2>
<h2> {{title.toUpperCase()}} DEVASHISH HELLO WORLD !</h2>
<i class="fa-brands fa-amazon-pay text-warning fa-10x"></i>
<i class="fa-brands fa-facebook text-primary fa-10x"></i>
<i class="fa-brands fa-github text-dark fa-10x"></i>
<i class="fa-brands fa-youtube text-danger fa-10x"></i>  -->
<!-- <app-components></app-components>
<app-counter></app-counter> -->
<!-- <app-wish-message></app-wish-message> -->
<!-- <app-product></app-product>
<app-shopping></app-shopping>
<app-two-way-binding></app-two-way-binding>-->
<!-- <app-input-auto></app-input-auto>  -->
<!-- <app-forms-binding></app-forms-binding>  -->
<!-- <app-sms-app></app-sms-app> -->
<!-- <app-show-password></app-show-password> -->
<!-- <app-amount-range></app-amount-range> -->
<!-- <app-bindi ng-theme-selector></app-binding-theme-selector> -->
<!-- <app-binding-registration></app-binding-registration> -->
<!-- <app-structure></app-structure> -->
<!-- <app-shoping-card></app-shoping-card> -->
<!-- <app-products></app-products> -->
<app-pipe></app-pipe>